#include "resource.h"

IDD_PASSWORD DIALOGEX 0, 0, 186, 95
CAPTION "Enter Password"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Password:", -1, 7, 14, 50, 10
    EDITTEXT        IDC_PASSWORD_EDIT, 60, 12, 100, 14, ES_AUTOHSCROLL | WS_BORDER
    DEFPUSHBUTTON   "OK", IDOK, 50, 40, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 110, 40, 50, 14
END
